<form action='/password_reset' method='/post'>
  Email address:<input type='text' name='email'>
  <input type='submit' value='Reset password'>
</form>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %>
  </div>
<% end %>
