Hello world!
<form action='/links' method='post'>
<label>url</label>
  <input type='text' name='url'><br>
<label>Title</label>
  <input type='text' name='title'><br>
<label>Tag</label>
  <input type='text' name='tag'><br>
  <input type='submit' value='Create link'>
</form>